* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(255, 255, 255);
}

section {
    height: 10vh;
}

.esercizio {
    background-color: rgb(138, 203, 190);
    position: fixed;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    top: 0;
}

.box {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 150px;
    background-color: rgba(215, 215, 215, 0);
    padding: 40px;
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 59%);
    
}

.hello {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 150px;
    flex-wrap: wrap;
    align-items: end;
}

.container{
    max-width: 80%;
    margin: auto;
}

button {
    background-color: rgb(0, 255, 132);
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px;
    width: 80px;
}

.benvenuto {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.imageLogoVue{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}

input {
   display: flex;
   text-align: center;
   border: none;
   border-radius: 15px;
   background-color: aquamarine;
   padding: 10px;
}

