* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #68b281eb;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
    /* t r b l */
    align-items: center;
    height: 100px;
}

.box {
    display: flex;
    justify-content: space-between;
    background-color: rgba(215, 215, 215, 0);
    padding: 40px 40px 40px 40px;
    border-radius: 15px;
    /* border: 1px solid rgb(104, 178, 129); */
    border: 3mm ridge rgba(104, 178, 129, .8);
    align-items: center;
    max-width: 70%;
    margin: auto;
    background-color: #bebebe;
}

.hello {
    flex-wrap: wrap;
    margin-top: 115px;
    margin-bottom: 20px;
}

input {
    display: flex;
    text-align: center;
    border: none;
    border-radius: 15px;
    border: 1px solid #68b281;
    padding: 5px;
    cursor: pointer;
    color: grey;
}

input:hover {
    background-color: #5fb97d8f;
    color: white;
}

button {
    border: 1px solid rgb(104, 178, 129);
    border-radius: 15px;
    color: grey;
    padding: 5px;
    width: 100px;
}

.play {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    opacity: 50%;
    /* border: 2px solid rgba(0, 255, 38, 0.315); */
    border-radius: 35px;
    cursor: pointer;
    align-items: center;
    width: 20%;
}

.play:hover {
    color: #a8a8a8;
    font-size: 48px;
    opacity: 100%;
    /* background-color: rgba(0, 255, 123, 0.333); */
    cursor: pointer;
}

.imageLogoVue {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.black_white:hover {
    border: 2px solid rgb(98, 98, 98);
    background-color: grey;
    color: white;
}

.color:hover {
    border: 2px solid rgb(0, 129, 41);
    background-color: #68b281;
    color: white;
}

.pen {
    color: rgb(47, 150, 121);
    margin: 2px;
}

/*------color text------ */
.text-white {
    color: #ffffff;
}

.text-blue {
    color: #0095ff;
}

.text-yellow {
    color: #e8da3d;
}

.text-red {
    color: #c95054;
}

.text-green {
    color: #0b9547;
}

/*------color text------ */
.colore {
    background-color: rgba(150, 247, 126, 0.607);
}

.mainDown {
    height: 55vh;
    display: flex;
}

.stringheColor {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.circles {
    padding: 0px 30px 0px 30px;
    /* t r b l */
    border-radius: 50%;
    /* background-color: hsla(0, 0%, 100%, 0.319); */
    text-align: center;
    font-size: 25px;
    color: rgba(54, 141, 96, 0.411);
    cursor: pointer;
}

.cerchi {
    padding: 10px;
    background-color: #ffffff00;
    border-radius: 50%;
}

.cerchi:hover {
    background-color: #ffffff6b;
    border-radius: 50%;
    opacity: 100%;
    transition: 1.3s;
}

.active {
    color: rgb(255, 255, 255);
    background-color: #ffffff34;
    border-radius: 35px;
    opacity: 100%;
    transition: 1.0s;
}

.arrow-left,
.arrow-right {
    color: rgba(255, 255, 255, 0.502);
    font-size: 60px;
    display: flex;
}

.arrow-left:hover,
.arrow-right:hover {
    color: white;
    cursor: pointer;
}

/* apertura/chiusura trnasizione */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/* apertura/chiusura trnasizione */