* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: #68b281eb;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
    /* t r b l */
    align-items: center;
    height: 100px;
}
.box,
.hello {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(215, 215, 215, 0);
    padding: 40px;
    border-radius: 15px;
    /* border: 1px solid rgb(104, 178, 129); */
    border: 3mm ridge rgba(104, 178, 129, .8);
    align-items: center;
    max-width: 70%;
    margin: auto;
    background-color: #bebebe;
}
.box {
    margin-top: 20px;
}
.hello {
    flex-wrap: wrap;
    margin-top: 115px;
}
input {
    display: flex;
    text-align: center;
    border: none;
    border-radius: 15px;
    border: 1px solid #68b281;
    padding: 5px;
    cursor: pointer;
    color: grey;
}
input:hover {
    background-color: #5fb97d8f;
    color: white;
}
button {
    border: 1px solid rgb(104, 178, 129);
    border-radius: 15px;
    color: grey;
    padding: 5px;
    width: 100px;
}
.imageLogoVue{
    max-width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.black_white:hover {
    border: 2px solid rgb(98, 98, 98);
    background-color: grey;
    color: white;
}
.color:hover {
    border: 2px solid rgb(0, 129, 41);
    background-color: #68b281;
    color: white;
} 
.pen {
    color: rgb(47, 150, 121);
    margin: 2px;
}

/*------color text------ */
.text-white {
    color: #ffffff;
}
.text-blue {
    color: #0095ff;
}
.text-yellow {
    color: #e8da3d;
}
.text-red {
    color: #c95054;
}
.text-green {
    color: #0b9547;
}
/*------color text------ */
.colore {
    background-color: rgba(150, 247, 126, 0.607);
}
.v-enter-active,
.v-leave-active {
    transition: opacity 2.5s ease;
}
.v-enter-from,
.v-leave-to {
    opacity: 0;
}
.mainDown {
    height: 55vh;
    display: flex;
}
.stringheColor {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}